* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #f7f7f7; }

.grid {
  text-align: center;
  margin-top: 5em; }

@-webkit-keyframes handle {
  10% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  90% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }

@keyframes handle {
  10% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  80% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }

#bulb {
  width: 100px;
  -webkit-filter: grayscale(50%) brightness(80%);
          filter: grayscale(50%) brightness(80%);
  -webkit-transition: 100ms ease-in-out all;
  transition: 100ms ease-in-out all; }

#bulb.triggered {
  -webkit-filter: grayscale(0%) brightness(100%);
          filter: grayscale(0%) brightness(100%); }

#handle {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
  width: 18px;
  right: 22px;
  top: 40px; }

#handle.clicked {
  -webkit-animation: handle 1s;
          animation: handle 1s; }

#inner-text-container {
  display: inline-block;
  z-index: 1;
  color: grey;
  font-size: 2em;
  bottom: 40px;
  right: 77px; }
  #inner-text-container .inner-text {
    position: absolute;
    right: -52px;
    bottom: -11px; }
  #inner-text-container .inner-text-off {
    display: inline;
    left: -8px; }
  #inner-text-container .inner-text-on {
    display: none;
    left: -9px; }
