#bulb
	width: 100px
	filter: grayscale(50%) brightness(80%)
	transition: 100ms ease-in-out all 


#bulb.triggered
	filter: grayscale(0%) brightness(100%)


#handle
	transition: 200ms ease-in-out all 
	width: 18px
	right: 22px
	top: 40px

#handle.clicked
	animation: handle 1s
	

//Inner Text
#inner-text-container
	display: inline-block
	z-index: 1
	color: grey
	font-size: 2em
	bottom: 40px
	right: 77px
	.inner-text
		position: absolute
		right: -52px
		bottom: -11px
	.inner-text-off
		display: inline
		left: -8px
	.inner-text-on
		display: none
		left: -9px

